#modalCo{
    height: 2000px;
}
.is-invisible{
    display: none;
};
.overflow{
    overflow: hidden;
}
.connexionClose:hover{
    cursor: pointer;
}
.jeux{
    box-shadow: 0px 0px 10px 5px white;
    transition-duration: 700ms;
}
.jeux:hover{
    scale: 1.1;
}